<section class="w-full text-base sm:text-xl md:text-2xl md:w-fit md:ml-auto lg:mt-0 px-0 py-4 sm:p-8 md:pt-0">

  <div class="grid grid-cols-[1fr_auto] gap-x-8 gap-y-7 leading-[1.2]">
    <div class="font-default-sans">
      CS <span>@</span> UT Arlington
    </div>
    <div class="text-secondary text-right text-base whitespace-nowrap">
      2023&ndash;2027
    </div>

    <div class="">
      My foundations 
    </div>
    <div class="text-secondary text-right text-base whitespace-nowrap">
      C, Java, Python
    </div>

    <div class="col-span-2">
      Side quest enthusiast
    </div>
  </div>
</section>