<section class="w-full text-xl md:w-fit md:ml-auto lg:mt-0 p-8 md:pt-0">

  <div class="grid grid-cols-[1fr_auto] gap-x-6 gap-y-6 leading-[1.15]">
    <div class="font-default-sans">
      CS <span>@</span> UT Arlington
    </div>
    <div class="text-secondary text-right text-base whitespace-nowrap">
      2023&ndash;2027
    </div>

    <div class="">
      My foundations 
    </div>
    <div class="text-secondary text-right text-base whitespace-nowrap">
      C, Java, Python
    </div>

    <div class="col-span-2">
      Side quest enthusiast
    </div>
  </div>
</section>