---
import { Icon } from "astro-icon/components";

interface ContactIconEntry {
    url: string,
    icon: string,
    alt: string,
    title: string
}

const entries: ContactIconEntry[] = [
    {
        url: "ptran.tech@outlook.com",
        icon: "fa7-solid:envelope",
        alt: "Email",
        title: "Send me an email!"
    },
    {
        url: "https://github.com/peterphitran",
        icon: "devicon:github",
        alt: "Github",
        title: "Check out my Github!"
    },
    {
        url: "https://www.linkedin.com/in/peter-phi-tran/",
        icon: "devicon:linkedin",
        alt: "LinkedIn",
        title: "Check out my LinkedIn!"
    },
];
---

<div class="flex flex-row items-center gap-5">
    {
        entries.map((entry) => (
            <a
                href={entry.url}
                title={entry.title}
                class="size-8 text-secondary transition-colors duration-200 hover:text-accent"
            >
                <Icon name={entry.icon} desc={entry.alt} class="size-8" />
            </a>
        ))
    }
</div>