---
import { Picture } from "astro:assets";
import profilePic from "@/images/headshot.png"
---

<div
    class="aspect-square size-full flex-none overflow-hidden rounded-full border border-border"
>
    <!-- Place holder for pfp -->
    <Picture
        formats={["avif", "webp", "png"]}
        inferSize={true}
        src={profilePic}
        title="Profile picture"
        alt="looksmaxing photo"
        class="h-full object-cover object-center"
    />
</div>